.container {
	width: auto;
	max-width: 640px;
	margin-top: 15px;
}
.page-header {
	text-align: center;
}
.container .credit {
	margin: 20px 0;
}
input[readonly] {
	cursor: default;
	background-color: #eeeeee;
}
