<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Default password options</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>nsym</string>
		<key>MaximumValue</key>
		<real>3</real>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Symbols</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>16</real>
		<key>Key</key>
		<string>len</string>
		<key>MaximumValue</key>
		<real>20</real>
		<key>MinimumValue</key>
		<real>8</real>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Length</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>hashes</string>
		<key>MaximumValue</key>
		<real>16</real>
		<key>MinimumValue</key>
		<real>1</real>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Hashes</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
