.container {
	width: 400px;
	margin-top: 15px;
}
.page-header {
	text-align: center;
}
.form-horizontal .control-label {
	float: left;
	width: 80px;
	padding-top: 5px;
	text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 90px;
  *margin-left: 0;
}
